
<amexio-tab-view #amexiotab  [closable]="false">
     <amexio-tab title="Employee List" [active]="true">
            <amexio-datagrid
            title="Employee Registration"
            [http-method]="'get'"
            [http-url]="'assets/employee.json'"
            [data-reader]="'data'"
            [page-size] = "5">
            <amexio-data-table-column [data-index]="'firstname'" [data-type]="'string'" 
                                      [hidden]="false" [text]="'First Name'">
            </amexio-data-table-column>
            <amexio-data-table-column [data-index]="'lastname'" [data-type]="'string'" 
                                      [hidden]="false" [text]="'Last Name'">
            </amexio-data-table-column>
            <amexio-data-table-column [data-index]="'email'" [data-type]="'string'" 
                                      [hidden]="false" [text]="'Email'">
            </amexio-data-table-column>
            <amexio-data-table-column [data-index]="'age'" [data-type]="'number'" 
                                      [hidden]="false" [text]="'Age'">
            </amexio-data-table-column>
            <amexio-data-table-column [data-index]="'firstname'"
                    [data-type]="'string'" [hidden]="false"
                    [text]="'Action'">
                    <ng-template #amexioBodyTmpl let-column let-row="row">
                        <amexio-row>
                            <amexio-button
                                [label]="'Edit'"
                                [type]="'theme-backgroundcolor'"
                                [size]="'small'"
                                [tooltip]="'toolTip'" 
                                (onClick)="onRowSelect(row,amexiotab)">
                           </amexio-button>
                           
                           <amexio-button
                                [label]="'Travel Request'"
                                [size]="'small'"
                                [type]="'theme-color'"
                                [tooltip]="'toolTip'" 
                                (onClick)="raiseTravelRequest(row,amexiotab)">
                           </amexio-button>
                        </amexio-row>
                    </ng-template>
            </amexio-data-table-column>
        </amexio-datagrid>
                

     </amexio-tab>
     <amexio-tab title="Employee Registration">


            <amexio-form [header]="true" [form-name]="'validateform'">
                    <amexio-form-header>
                        Employee Registration
                    </amexio-form-header>
                    <amexio-form-body>
                        <amexio-row>
                            <amexio-column [size]=6>
                                <amexio-text-input
                                     [(ngModel)]="employee.firstname"
                                     [allow-blank]="false"
                                     field-label="First name"
                                     place-holder="please enter first name"
                                     icon-feedback="true">
                                </amexio-text-input>
                            </amexio-column>
                            <amexio-column [size] =6 >
                                <amexio-text-input
                                     [(ngModel)]="employee.lastname"
                                     field-label="Last Name"
                                     [allow-blank]="true"
                                     place-holder="Please enter last name"
                                     icon-feedback="true">
                                </amexio-text-input>    
                            </amexio-column>
                        </amexio-row>
                        <amexio-row>
                            <amexio-column [size] =6 >
                                <amexio-email-input
                                     [field-label]="'email'"
                                     [(ngModel)]="employee.email"
                                     [place-holder]="'placeHolder'"
                                     [allow-blank]="false"
                                     [error-msg] ="'Please enter valid email'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true">
                                </amexio-email-input>
                            </amexio-column>
                            <amexio-column [size]=6>
                                <amexio-number-input
                                     [(ngModel)] = "employee.age"
                                     [field-label]="'Age'"
                                     [place-holder]="'placeHolder'">
                                </amexio-number-input>
                            </amexio-column>
                        </amexio-row>
                        <amexio-row>
                            <amexio-column [size] =6 >
                                <amexio-dropdown
                                     [(ngModel)]="employee.country"
                                     [place-holder]="'placeHolder'"
                                     [data-reader]="'data'"
                                     [field-label]="'Country'"
                                     [http-url]="'https://api.myjson.com/bins/yutzd'"
                                     [http-method]="'get'"
                                     [display-field]="'countryName'"
                                     [value-field]="'countryCode1'">
                                </amexio-dropdown>
                            </amexio-column>
                        </amexio-row>
                    </amexio-form-body>
                    <amexio-form-action>
                        <amexio-button
                             [label]="'Save'"
                             [type]="'theme-color'"
                             [tooltip]="'Save'" 
                             [form-bind]="'validateform'">
                        </amexio-button>
                    </amexio-form-action>
                </amexio-form>
                
        
     </amexio-tab>
</amexio-tab-view>